<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Dattu Bhargav Medarametla</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="Ao.css">
</head>

<body background="bc4.jfif">

	<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
    
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="yourchoice">Yourchoice</a>
                    </li>
                    <li class="active">
                        <a href="contact">Contact</a>
                    </li>
                    <li>
                        <a href="guestbook">Guestbook</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <div class="contact-block">
        <h1>Contact Form</h1>
         
            <div >
                <a href="https://github.com/dattubhargav"><img class=" img-circle" src="hi1.png" width="50" height="50"/></a>
               <a href="https://www.linkedin.com/feed/?trk=onboarding-landing"> <img class=" img-circle" src="hi2.png" width="100" height="100"/></a>
               <a href="https://bitbucket.org/dattubhargav/"> <img class=" img-circle" src="hi3.png" width="100" height="100"/></a>
                                    </div>
        <form>
        name:<br><input type="text" name="name">

        <br>
        comment here:<br><input type="text" name="comments">
        <br><br>
        <input type="submit" value="Submit">
        </form>
        <footer>
            <h4>created by dattu bhargav medarametla</h4>
            <h4>email id;dattu.bhargav@gmail.com</h4>
            </footer>
            
    </div>
	