
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Dattu Bhargav Medarametla</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="Ao.css">
</head>


<body background="bc4.jfif" >

	<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
    
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="yourchoice">Yourchoice</a>
                    </li>
                    <li>
                        <a href="contact">Contact</a>
                    </li>
                    <li>
                        <a href="guestbook">Guestbook</a>
                    </li>
    
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
<img src="hi.jpg" alt="myphoto" style="width:300px;height:300px; " class="img-circle">
<h1 id="a">Current</h1>
<p id="a1">
I am new Student of Spring 2018 batch In Masters of Applied Computer Science.</p>
<h1 id="a9">Background</h1>
<p id="a2">
I am from Guntur located in India. I purse my undergraduate In SRM University located in Southern part of India. 
I did My under graduation in Electronics and Communication Engineering.</p>
<h1 id="a3">Plans</h1>
<p id="a4">
I would like to learn how to design a web applications and how to develop. Also, I would like to learn more about security which is very interesting to me.</p>
<aside>
<h1 id="a5">Interests</h1>
<p id="a6">
I like to play sports especially soccer and cricket and i love to play video games.</p>
<iframe width="420" height="315"
src="https://www.youtube.com/embed/tgbNymZ7vqY">
</iframe>
</aside>
<footer>
<h4 id="a7">created by dattu bhargav medarametla</h4>
<h4 id="a8">email id;dattu.bhargav@gmail.com</h4>
</footer>
			</div>
		</div>
	</div>
	<!-- /container -->
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="M03.js"></script>
</body>

</html>