<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Dattu Bhargav Medarametla</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="Ao.css">
</head>

<body background="bc4.jfif">

	<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
    
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="active">
                        <a href="yourchoice">Yourchoice</a>
                    </li>
                    <li>
                        <a href="contact">Contact</a>
                    </li>
                    <li>
                        <a href="Guestbook">Guestbook</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <h1>Currency Convetor</h1>
<form>
Enter Indian rupees:Note 1USD = 65 INR<br><input  id="inr" type="text" name="Enter Indian Rupees" value="0">
<br>
<br>
<button type="button" class="btn btn-primary" onclick="myFunc()">CONVERT</button>  
<br>

In USD:<br><input  id="usd" type="text" value="0">
<br>
<br>
Enter Indian rupees:Note 1EU = 85 INR<br><input  id="inr1" type="text" name="Enter Indian Rupees" value="0">
<br>
<br>
<button type="button" class="btn btn-primary" onclick="myFunc1()">CONVERT</button>
<br>
In EU:<br><input  id="eu" type="text" value="0">
 
<footer>
<h4>created by dattu bhargav medarametla</h4>
<h4>email id;dattu.bhargav@gmail.com</h4>
</footer>   
</form>
<script src="myscript.js"></script>
</body>
</html>
	