.contact-block {
    width: 500px;
    margin: 0px auto;
}
#a{color: rgb(235, 13, 13);}
#a1{color: rgb(243, 38, 11);}
#a2{color: rgb(236, 31, 31);}
#a3{color: rgb(209, 20, 20);}
#a4{color: rgb(223, 26, 26);}
#a5{color: rgb(226, 40, 40);}
#a6{color: rgb(226, 40, 40);}
#a7{color: rgb(226, 40, 40);}
#a8{color: rgb(226, 40, 40);}
#a9{color: rgb(226, 40, 40);}
